{
  "loglevel": "info",
  "locale": "fr-FR",
  "nick": "Parrot",
  "passwd": "your parrot account password",
  "blacked": ["MercWMouth", "Deadpool", "bot"],
  "obamas": ["Counselor", "Briseis", "Brisis", "GuppyLord"],
  "commands": [
    "defaults",
    {"cmd": "ripperoni", "options": { "rippers": ["person1", "person2"] } }
  ],
  "rooms": [
    {
      "room": "your room full url",
      "password": "your room password"
    }
  ]
}
